@charset "utf-8";
/* CSS Document */
body, div, p, h1, h2, h3, h4, ul, li, dl, dt, dd, ol, form, table, tr, td, span, label, input, select, option, a, img, i, em, strong, b {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: top;
}


html {
    /*rem单位永远以html做参考缩放；百分比和em以父元素做参考*/
    font-size: 625%; /*16*6.25=100px*/
}

body {
    font-family: "微软雅黑";
    color: #000000;
    max-width: 640px; /*效果图的宽度*/
    min-width: 320px;
    margin: 0 auto;
    font-size: 0.24rem; /*body中默认使用做多的字体大小*/
    background: url("../img/bg.jpg");
    background-size: 100% auto;
}

.clearfix {*zoom: 1;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*main demo*/
html,body,.swiper-container{ width:100%; height:100%;}
#pro_container{height:6rem;margin-top: 0.3rem;}
#pro_container img{width:100%;}
.page1{position: relative;}
.myImg{height:55%;}
.firstPage{padding-top:0.4rem;text-align: center;font-weight: 600;color: #e0461b;letter-spacing:0.2rem;font-size: 0.5rem}
.firstPage span{margin-left: 0.2rem;}
.eglish{text-align: center;font-weight: 500;color: #c4401b;font-size: 0.24rem;margin-top: 0.1rem}
.director{position: absolute;bottom:0.4rem;left:50%;margin-left: -0.18rem;}
.director i{color: #eb9534;font-size: 0.6rem;width:1.6rem;}
 .myWish{margin-top:0.3rem;text-align: center;color: #c4401b;font-size:0.24rem;}
 .job{margin-top: 0.2rem;text-align: center;color: #c4401b;font-size:0.28rem;}
 .wish i{color:#c4401b;line-height: 0.5rem;padding-left: 0.2rem;}
 .work{color:#eb9534;line-height: 0.24rem;font-size: 0.22rem;position: absolute;left:2.3rem;bottom:0.15rem;}
 .fenge{display: block;width:100%;height:0.03rem;background-color: #c4401b;}
.PersonalInform{padding-left: 0.1rem;padding-top:0.1rem;}
.info{margin-top: 0.4rem;}
.icon-user{color:#7dc234;}
.info_left{width:40%;float: left;}
.info_left p{width:100%;text-align: right;margin-bottom: 0.15rem;color:#eb9534;font-size: 0.26rem;line-height:0.3rem;}
.info_right{width:60%;float: left;}
.info_right p{width:100%;margin-bottom: 0.15rem;color:#eb9534;font-size: 0.26rem;line-height:0.3rem;}
.info_right p a{text-decoration:underline; }
.mySkill,.myEdu,.myExp,.mypro,.myWish,.myMessage{margin-top: 0.3rem}
.myhonor{margin-top: 0.6rem;}
.honor{margin: 0.3rem auto 0;width:5rem;}
.icon-edit,.icon-briefcase,.icon-wrench,.icon-bookmark,.icon-user,.icon-trophy{color:#c4401b;line-height:0.6rem;padding-left: 0.2rem;margin-top:0.2rem;margin-left: 0.2rem;font-size: 0.3rem;}
.education{margin-top: 0.4rem;}
.education dt{margin:0.3rem auto 0.1rem;line-height: 0.24rem;width:5.8rem;}
.education dt span{margin-left: 0.1rem;color:#000000;font-size: 0.18rem;font-weight: 500;}
.en{font-style: normal;font-size: 0.12rem;margin-left: 0.1rem;color:#c4401b;}
.education dt .Place {color:#6aa84f;font-size: 0.28rem;}
.education dt .Time {font-size: 0.14rem;}
.education dt .DO {font-size: 0.26rem;line-height: 0.4rem;}
.education dd{margin:0 auto 0.1rem;line-height: 0.2rem;font-size: 0.14rem;text-indent: 0.02rem;width:5rem;}
.education dd .what,.honor li{line-height: 0.4rem;font-size: 0.24rem;}
.skill{margin-top:0.4rem;}
.skill li p{width:40%;color: #eb9534;text-align: right;float: left;line-height: 0.4rem;font-size: 0.32rem;}
.skill li ul{width:60%;float: left;}
.skill li ul .icon-star{color:#e1f2df;float: left;margin-left:0.2rem; margin-top:0.02rem;font-size: 0.32rem;}
.describe{text-align: center;line-height: 0.5rem;margin-top: 0.3rem;}
.describe a{color:#78a6df;}
.myImg{position: relative;}
.myImg .circle{width:3rem;height:3rem;border-radius: 50%;position: absolute;top:50%;left: 50%;margin-top:-1.5rem;margin-left: -1.5rem;background:url("../img/me.jpg");background-size:3rem 3rem;}
